<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
    <h1 class="w3-jumbo w3-animate-top w3-center">BURGER EATER</h1>
    <hr class="w3-border-grey">
    <div class="w3-row">
        <div class="w3-col s12 w3-mobile">    
            <form class="w3-panel w3-center" action="/" method="POST">
                <h3><label>What's the name of the burger?</label></h3>
                    <input class="w3-input" type="text" id="burgerName" name="burger" placeholder="Ex. 'Double Cheeseburger'" pattern="[a-zA-Z\s]{0,30}" title="Alphabet Characters Only" required>
                <button type="submit" class="w3-button w3-red burgerBtn">Add Burger</button>
            </form>
        </div>
    </div>
    <div class="w3-row">
        <div class="w3-half w3-container w3-mobile">
            <h2 class="w3-center">Burgers Ready to Eat</h2>
            {{#each burgers}}
                {{#unless this.devoured}}
                    <div class="w3-card-2 w3-display-container">
                        <h3 class="w3-center">{{this.burger_name}}</h3>
                        <form action="/{{this.id}}?_method=PUT" method="POST">
                            <input type="hidden" name="devoured" value="true">
                            <button class="w3-button w3-block w3-text-red" type="submit">Eat this Burger!</button>
                        </form>
                        <form class="w3-display-topright" action="/{{this.id}}?_method=DELETE" method="POST">
                            <button class="w3-button close" type="submit">X</button>
                        </form>
                    </div>
                {{/unless}}
            {{/each}}
        </div>
        <div class="w3-half w3-container w3-mobile">
            <h2 class="w3-center">Burgers Eaten</h2>
            {{#each burgers}}
                {{#if this.devoured}}
                    <div class="w3-card-2 w3-display-container">
                        <h3 class="w3-center">{{this.burger_name}}</h3>
                        <form class="w3-display-topright" action="/{{this.id}}?_method=DELETE" method="POST">
                            <button class="w3-button close" type="submit">X</button>
                        </form>
                    </div>
                {{/if}}
            {{/each}}
        </div>
    </div>
</div>
<footer class="w3-padding-large">
    <a href="https://github.com/jbcurrie/Burger_App" target="_blank">Github Repo</a>
</footer>

